body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #25202F;
}

.section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

h1, h2 {
    color: #6B43DC;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    display: inline-block;
    background-color: #6B43DC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
}


.talk{
    padding: 14px 48px 14px 49px;
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
     border-radius: 50px; 
    background-color: rgba(134, 67, 220, 1);
}
.burger-button{
  
}
.navigation{
    width: 1111px;
    height: 70px;
    display: flex;
    flex-direction: row;
}
.nav{
    margin-left: auto;
    margin-right: auto;
    padding-left:50px ;
}
.logo{
    width: 40px;
    height: 40px;
}
.middle-container{
    display: flex;
    justify-content: center;
}
.main-man{
    width: 791px;
    height: 783px;
    margin-left: 446px;

}